body {
    font-family: 'Courier New', Courier, monospace;
}
#todoform {
    margin-top: 60px;
}

#entrada {
    margin-top: 50px;
}

#textbox {
    width: 500px;
    height: 40px;
    border-radius: 0px;
    border: 0px;
    outline: none;
}

#btnsubmit {
    margin-left: -3px;
    background-color: white;
    color: black;
    height: 44px;
    border-radius: 5px;
    border: 0px;
}

#btnsubmit:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#todolist {
    margin-top: 80px;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#divfoot {
    width: 100%;
    display: flex;
    justify-content: end;
}

li {
    display: inline;
}